<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="orbital.gns.pocketalert">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Location.LocationActivity">
        </activity>
        <activity android:name=".Friends.ConfirmFriendRequestActivity">
        </activity>
        <activity android:name=".Friends.FriendRequestsActivity">
        </activity>
        <activity android:name=".Friends.ViewFriendProfileActivity">
        </activity>
        <activity android:name=".PhoneCalls.FriendCallActivity">
        </activity>
        <activity android:name=".PhoneCalls.PhoneDirectoryActivity">
        </activity>
        <activity android:name=".StatusUpdates.FriendsStatus">
        </activity>
        <activity android:name=".StatusUpdates.StatusUpdateActivity">
        </activity>
        <activity android:name=".Friends.FriendsListActivity">
        </activity>
        <activity android:name=".Friends.AddFriendsProfileActivity">
        </activity>
        <activity android:name=".Friends.AddFriendsActivity">
        </activity>
        <activity android:name=".Profile.MyProfileActivity">
        </activity>
        <activity android:name=".Opening.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Opening.RegisterActivity">
        </activity>
        <activity android:name=".Opening.LoginActivity">
        </activity>
    </application>

</manifest>